<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		package="pl.nitroit.saintsday"
		android:versionCode="1"
		android:versionName="1.0">
	<uses-sdk android:minSdkVersion="8" />

	<uses-permission android:name="android.permission.READ_CONTACTS" />

	<application 
			android:icon="@drawable/icon" 
			android:label="@string/appName">
		<receiver android:name=".SaintsDayWidget">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data 
					android:name="android.appwidget.provider"
					android:resource="@xml/widget" />
		</receiver>
	</application>
</manifest>